extends layout    

block content
 if (user)
    div Witamy w PicDrop!
    div#userName #{user.username}
    div Twój pokój to: 
     div#pokoj Globalny
       Modal 
    #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Modal header
      .modal-body
        p
          img#fotka(src='http://farm4.staticflickr.com/3717/8957295072_4396d97229_m.jpg')
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') OK
    ul#gallery.gallery
    #Board
      h4 Table



  