body {
    overflow: auto;
    min-width: 700px;
}
#gallery { float: left; width: 63%; min-height: 12em; }
  .gallery li { float: left; width: 150px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
#Board{
    position: absolute;
    z-index:-1; 
    top:25%;
    left: 70%;
    width: 30%;
    height: 30em;
    padding: 0.5em;
    border: 3px solid #f90;
    border-radius: 1em;
    margin: 0 auto;
    float: right;
    background-color: LightBlue;
}